# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log